.Table {
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 350px;
  max-height: 100%;
  margin: 20px 40px auto 0;
  padding: 0 20px 10px;
  background: #fff;
  overflow-y: scroll;
  border-radius: 8px;
}

.Table:first-child {
  margin-bottom: 20px;
}

.Table:last-child {
  overflow-y: visible;
}

.Tabless {
  display: none;
}

.TableHeader {
  display: flex;
  padding: 0 20px;
  margin: 0;
  background: #ededed;
  border-radius: 8px;
}

.TableTitle {
  margin: 0 0 10px;
}

.TableList {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.TableTrain {
  display: flex;
  border: none;
  background: none;
  border-bottom: 1px solid #cfcfcf;
  transition: 0.5s;
  padding: 0 20px;
}

.TableInputTrain {
  display: flex;
  border: none;
  background: none;
  border-bottom: 1px solid #cfcfcf;
  transition: 0.5s;
  padding: 0 20px;
  margin: 0;
}

.TableTrain:hover {
  cursor: pointer;
  opacity: 0.6;
}

.TableText {
  text-align: left;
  min-width: 150px;
  color: #4f4f4f;
}

.TableTrainText {
  text-align: left;
  min-width: 150px;
}

.TableTrainNumber {
  text-align: right;
  min-width: 150px;
}

.TableInput {
  margin: auto 0;
  padding-right: 10px;
  text-align: right;
  min-width: 150px;
  height: 30px;
  border: none;
  outline: 0;
}

.TableInput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  background: #0a377e;
  margin: 0;
}

.TableInput[type="number"] {
  -moz-appearance: textfield;
}

.TableButton {
  position: absolute;
  bottom: -60px;
  left: calc(50% - 100px);
  width: 200px;
  height: 40px;
  cursor: pointer;
  border: 1px solid #cfcfcf;
  background: #fff;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

.TableError {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: red;
}
